body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-color: rgba(66, 61, 61, 0.938) !important;

}

header{
    width: 100%;
    height: 70px;
    background-color: rgb(231, 192, 132);
    margin-bottom: 30px;
}

h3{
    color:bisque ;
}

.main-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap:20px;
}

.not-found{
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#notfound{
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 500px;
    border-radius: 40px;

}

.container-categories{
    width: 80%;
    display: grid;
    gap:20px;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
 
}

.category{
    height: 180px;
    width: 100%;
    margin: 5px;
    background-color:rgb(20, 22, 22);
    box-shadow: 0 2px 15px rgba(85, 73, 73, 0.7);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img-category{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.img-category:hover{
    zoom: 1.5;
    cursor: pointer;
}

.car-box{
    width: 280px;
    height: 80px;
    background-color: rgb(189, 129, 81);
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    
}

.select-box{
    width: 280px;
    height: 80px;
    background-color: rgb(189, 129, 81);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#selectorArea{
    border-color: transparent;
    color: #504a1a;
}

  #selectorArea option:checked  {
    background-color: rgb(109, 110, 23); /* Cambia el color de fondo al seleccionar una opción */
  }
  
#buyImage{
    width: 100px;
    height: 100px;
    border-radius: 30%;
}

#carTitle{
    margin-left: 50px;
}
.cards-food{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    justify-items: center;
    justify-content: center;
}
.card{
    background-color: burlywood !important;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aInit, .aInit:hover, .aInit:active{
    margin: 10px;
    background-color: #504a1a;
    color: aliceblue;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary,.btn-primary:active{
    background-color: black !important;
    color: bisque !important;
    border-color: transparent !important;
}

.modal-header{
    background-color: rgb(75, 68, 68);
    color: bisque; 
}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-footer{
    background-color: rgb(189, 129, 81);
}